

<div class="row">
    <div class="col-md-12">
        <br/>
        @{
            string urlr = "/" + ViewContext.RouteData.GetRequiredString("controller") +"/"+ ViewContext.RouteData.GetRequiredString("action");
        }

        <form action="@urlr" method="GET" class="form-inline">
            <div class="row">
                <label>Doctor:</label>
                <input type="text" name="doc" id="doc" value="" class="form-control"/>
                <label>Procedure:</label>
                <input type="text" name="proc" id="proc" value="" class="form-control"/>
                <label>User Name:</label>
                <input type="text" name="user" id="user" value="" class="form-control"/>
                 <input type="submit" value="Search" class="btn btn-default" style="margin-left: 5px" />
            </div>
        </form>
        <hr />
    </div>
</div>
